[2014-09-01 19:08] davidmarkclements opened #2 "messy help output at certain widths"
help looks great full screen, but this is my normal terminal width, suggest we follow approach of most cmd line app output and keep to the left instead of adding extra whitespace for aesthetics limited to constrained scenarios

![help output](https://cloud.githubusercontent.com/assets/1190716/4111513/0d282140-320b-11e4-9be4-0582a491f6f6.png)

[2014-09-16 10:55] mmalecki opened #3 "Run our executables with `--abort_on_uncaught_exception`?"
This flag causes V8 to `abort()` and dump core in case of uncaught exception which gives _tons_ of insight into what happened to the process at the time of crash than a simple stack trace.

[2014-09-16 14:25] georgebabey opened #5 "Server crashes on build when boot2docker runs out of space"
Had numerous images already in boot2docker, so disk space was low. When following the example steps, `nsd container build nscaledemo web` would silently fail and the server would crash. The "no space left on disk" message from docker was observable in `nsd server log` but not in the output from the build step. It would be nice to handle this more cleanly by showing the error in the output from the

[2014-09-16 17:52] #2 closed, assigned to nobody

[2014-09-16 21:32] davidmarkclements opened #6 "nsd system create fails when CWD path contains space"
The underlying issue is to do with bcksrv (or perhaps the bcksrv is being used)

see the bcksrv issue for more info:

https://github.com/mcollina/bcksrv/issues/1

[2014-09-17 08:41] #3 closed, assigned to nobody

[2014-09-18 10:53] Analect opened #7 "Running through nscaledemo breaks at 'Deploying a System' step."
saw nscale mentioned in node meetup schedule for later this month so was running through set-up and demo with nearform canonical 'hello world' as per wiki (Linux Development Quick Start Guide).  All worked fine until I got to the point where 'Deploying a System', where it says to use the latest revision id to run: 'nsd revision deploy nscaledemo 62beef85577dbea3a42'.  I used a revision id that in

[2014-09-18 11:28] #6 closed, assigned to nobody

[2014-09-24 10:26] pelger opened #9 "nsd system current error reporting"
Correct error handling for system current command in the case that there is no currently deployed revision. Right now stack trace returned, replace with understandable error message!

[2014-09-25 09:57] dreamineering opened #10 "Any chance of getting nscale working on google platform?"
IDEA

With google you can get $500 credit for three months for startup ideas

https://developers.google.com/startups/

Was thinking it could be a sweet promotional idea to have 'startup kit' based on seneca and nscale to show how you can get started with micro-services for your MVP?

https://cloud.google.com/compute/docs/quickstart

This is why I am interested in nscale at least but not sure how t

[2014-09-26 17:20] mcollina opened #11 "nscale takes control of Docker in local mode"
Currently nscale default configuration has no `specific` field for the local analyzer: https://github.com/nearform/nscale/blob/master/config/default-config.json#L47. This triggers the behavior described in https://github.com/nearform/nscale-workshop/issues/11 and #7. In particular, it needs a `dockerFilter` key, https://github.com/nearform/nscale-local-analyzer/blob/master/lib/docker-containers.js

[2014-09-30 11:33] pierreozoux opened #13 "License?"
Can you clarify the license of the project?
Is it artistic license 2.0 as stated in the Readme or is it MIt as stated in License.txt?

Thanks!

[2014-09-30 12:34] #13 closed, assigned to nobody

[2014-10-03 14:52] pelger opened #14 "nscale clone breaks with hyphen in repository name"

[2014-10-03 15:12] #5 closed, assigned to nobody

[2014-10-08 02:40] mmalecki opened #16 "Add a wizard/autodetection for default config"
My Linux machine was configured by default (in `.nscale/config/config.json`) as using boot2docker, so I had to change some settings using wording like analyser which I never ever heard about before ;).

Could we possibly detect what OS user is on and apply the settings we think are the most  appropriate? (If we do that, we should tell users not to rely on this if they use the client in scripts in

[2014-10-08 16:05] mcollina opened #17 "Use docker-remote-api and children instead of bash + dockerode"
https://www.npmjs.org/package/docker-remote-api
https://www.npmjs.org/package/docker-build
https://www.npmjs.org/package/docker-clean
https://www.npmjs.org/package/docker-run

[2014-10-09 10:31] #14 closed, assigned to pelger

[2014-10-10 11:20] #7 closed, assigned to nobody

[2014-10-16 07:36] #11 closed, assigned to nobody

[2014-10-17 11:21] pelger opened #20 "Server fails on first start with no ~/.nscale present"
on first start of the system when there is no ~/.nscale folder present the server fails to start. The following is in the server log:

{"name":"nfd-kernel","hostname":"peters-mbp-2","pid":39180,"level":30,"msg":"booting","time":"2014-10-17T11:14:50.565Z","v":0}
Uncaught Error: String name is required.

FROM
/usr/local/lib/node_modules/nscale/node_modules/nscale-kernel/lib/sysrev/gitutil.js:90:43

[2014-10-19 08:16] #20 closed, assigned to nobody

[2014-10-23 23:24] santo74 opened #23 "How can I use nscale in a multi-server environment ?"
Hi,

I was looking for a micro-services tool for Node.js and found Seneca, which seems a really nice fit for this.
However, I want to run those microservices in multiple docker containers spread over multiple servers.
Initially I was thinking about coreos with etcd, but that would still need a considerable amount of manual configuration and therefore I started looking for a container management /

[2014-10-31 08:25] mcollina opened #25 "nscale does not work with boot2docker 1.3.0"
Currently nscale uses HTTP protocol to connect. However, if DOCKER_TLS_VERIFY is set, it should use HTTPS. This new setup is used by boot2docker 1.3.0.

Nice fact: DOCKER_HOST contains 'tcp://...' while it could have been 'http://' and 'https://'
- [x] https://github.com/nearform/docker-container/pull/13
- [x] https://github.com/nearform/docker-registry-container/pull/3
- [x] https://github.com/ne

[2014-11-04 09:12] #25 closed, assigned to nobody

[2014-11-14 12:02] pelger opened #28 "system compile wipes system.json when an unknown target is given"
for example nsd system compile sudc wibble

[2014-11-14 13:39] pelger opened #29 "Intermittent failure on analysis"
Running an analysis on bare metal setup occasionally results in child process errors. Improve logging to determine the faulting commands: Stack as follows:

{"message":"Command failed: ","name":"Error","stack":"Error: Command failed:
    at ChildProcess.exithandler (child_process.js:637:15)
    at ChildProcess.EventEmitter.emit (events.js:98:17)
    at maybeClose (child_process.js:743:16)
    at P

[2014-11-20 12:51] dberesford opened #30 "Output revision number from 'nsd container build'"
Small suggestion, would be nice if  'nsd container build' outputted the revision number that it just built, so you don't have to do a 'nsd revision list' to get the revision number before you do a deploy.

E.g. the current steps are:

    nsd container build sudc web
    nsd revision list sudc
    nsd revision deploy sudc <revision id>

If you could grab the revision id from the output of 'contain

[2014-11-21 10:53] GrainneB opened #32 ".gitignore not created"
Creating a new system creates a  repo but doesn't create a .gitignore - have to manually create it excluding workspace and builds dirs.

[2014-11-21 11:31] rorywwalsh opened #33 "Prompt partially invisible on solarized dark"
I assume you're using black as the prompt colour, can't be seen on terminals with black background

![error](https://cloud.githubusercontent.com/assets/9318672/5141786/c97fc050-7171-11e4-9129-628a847a85f5.png)
.

[2014-11-22 12:30] rorywwalsh opened #34 "nsd sys compile tries to compile everything in definitions dir"
Editing the services.js file with vim creates a .services.js.swp which causes the compile to fail.

[2014-11-26 11:34] #34 closed, assigned to nobody

[2014-11-26 11:38] #33 closed, assigned to nobody

[2014-11-26 11:38] #32 closed, assigned to nobody

[2014-11-27 20:48] AdrianRossouw opened #35 "Support environment variables on containers"
One of the best ways I have found to configure multiple instances of services is to use environment variables, but I haven't found any documentation for configuring them on containers.

Any plans for this feature?

[2014-11-28 08:50] #35 closed, assigned to nobody

[2014-12-03 10:09] rorywwalsh opened #36 "'nsd container build' doesn't show any indication of progress"
The first time this runs, it's pulling the base docker image down and can take some time. But to an end user it could look like it's just crashed, as it sits at 'Pulling repository node'

Step 0 : FROM node:0.10
Pulling repository node

[2014-12-03 16:57] rorywwalsh opened #37 "nscale server connects to aws nodes via private dns / ip"
This means you can't house your management box running nscale server outside of your production VPC. In our case, our management server manages all environments (prod, staging, ci etc) which are housed in different VPCs.

I would suggest using the public DNS name if available, as it will resolve to the internal IP if the resolving host is on the same VPC, otherwise it will use the public IP.

[2014-12-03 17:02] rorywwalsh opened #38 "Show the compiled platform on nsd revision list"
It would be very helpful to know which platform a revision is compiled to. I'd suggest adding an extra column showing platform.

[2014-12-03 17:06] rorywwalsh opened #39 "nsd container build should allow commits, branches and / or tags to be specified"
We need to be able to select specific commits / tags to deploy to our different environments.

It is pretty rare we would want to deploy the head of master.

[2014-12-04 11:24] rorywwalsh opened #40 "If a deploy fails, it's marked as deployed in nsd revision list"
SSH to server failed, so deployment failed, but it showed as deployed.

[2014-12-04 16:08] mcollina opened #41 "running from an unknown system crashes the daemon"
[code]

[2014-12-09 13:32] mcollina opened #42 "SSH key problems during buil"
{"name":"nscale-util","hostname":"lelylan-mqtt","pid":16274,"level":30,"msg":"sshcheck: ssh -o batchMode=yes -o StrictHostKeyChecking=no -T git@github.com true","time":"2014-12-09T13:22:10.579Z","v":0}
{"name":"nscale-util","hostname":"lelylan-mqtt","pid":16274,"level":30,"msg":"executor: ssh -o batchMode=yes -o StrictHostKeyChecking=no -T git@github.com true, in: /root/.nvm/v0.10.33/lib/node_modu

[2014-12-11 07:31] #41 closed, assigned to nobody

[2014-12-12 16:09] mcollina opened #44 "Build errors are not presented to the user"

[2014-12-12 16:12] mcollina opened #45 "Highlight that nscale needs at minimum 1GB of RAM."

[2014-12-15 13:32] pyryjook opened #46 ""ERROR: Server disconnected abruptly." when running the deployment command"
I get error stated in title whenever trying to run: 'nsd revision deploy nscaledemo 6cd'. Even if I run it right after successful 'nsd server start' -command. It doesn't matter which of the revisions I try to run.

Does anyone have an idea why this happens?

[2014-12-16 15:03] andreareginato opened #47 "Build not working without ForwardAgent"
When running `nsd cont buildall` I can't clone the repository.
To make it work you need to configure forwardAgent as follow.

[code]

[2014-12-16 15:05] andreareginato opened #48 "Invalid namespace"
When building nscale, I get this message. It looks like allowed chars are too few. I couldn't find any limitation on the documentation.

[code]

[2014-12-16 16:59] andreareginato opened #49 "Deploy success/error not clear"
I've been making few deploy today. Some of them didn't succeed and it wasn't clear to understand which of them were the failing ones. Would be nice to have a clear success or error message.

[2014-12-16 19:20] #46 closed, assigned to nobody

[2014-12-20 09:24] juliangruber opened #50 "ECONNREFUSED on fresh install"
steps to reproduce:

[code]

[2014-12-20 16:51] mcdonnelldean opened #51 "CLI 'nsd server status' command request"
Hi,

Just started playing with nscale, apologies if this is not the correct repo to ask this. I wanted to make a feature request for a cli command to check the status of the nscale server; if it is running or stopped.

`$ nsd server status`

I can see if this is something I can add myself if somebody points me in the right direction.

[2014-12-20 21:11] mcdonnelldean opened #52 "RSA key fingerprint error on fresh install (nsd server start)"
Hi,

Just getting to grips with nscale. I notice when I start the server I am plagued with the following:

[code]

I am having issues trying to build a deployment and I am wondering if this might be the root cause. Below are the stats of my install

[code]

I'm on the nscale@next version because I have been unable to deploy any of the demo containers.

[2014-12-23 10:40] #52 closed, assigned to nobody

[2014-12-23 13:50] #48 closed, assigned to nobody

[2014-12-24 08:38] #50 closed, assigned to nobody

[2014-12-24 08:41] juliangruber opened #54 "can't login"
two things are happening:

1) after `nsd server start`, some ssh output is printed, although the `nsd server start` command already exited, so I can't answer with `yes`
2) `nsd login` doesn't do anything, but exits with `0`

[code]

The logs say:

[code]

[2014-12-24 08:57] #54 closed, assigned to nobody

[2014-12-24 09:08] juliangruber opened #55 "can't deploy"
Running the example from the README, this happens (i abbreviated the output of the revision lists):

[code]

I'll try with newer node soon.

[2014-12-26 17:48] #55 closed, assigned to nobody

[2015-01-02 13:28] McDonnellDean commented on #51
@mcollina on that subject, does nscale work on Windows? If so I would need to take this into account?

[2015-01-02 13:47] mcollina commented on #51
nscale does not support windows at the moment.
Il giorno ven 2 gen 2015 alle 08:28 Dean McDonnell <notifications@github.com>
ha scritto:

[2015-01-02 13:49] McDonnellDean commented on #51
@mcollina Cheers! That makes this change a wee bit easier so!

[2015-01-05 15:12] dberesford opened #56 "Uncaught TypeError: Arguments to path.join must be strings"
Got this exception when doing an 'nsd system fix' (was working through the 'development-workshop) - shout if there's anything you need from my local environment.

"name":"nfd-kernel","hostname":"Damians-MBP","pid":27603,"level":30,"msg":"fix system: nscalekv","time":"2015-01-05T15:05:25.844Z","v":0}
{"name":"nfd-kernel","hostname":"Damians-MBP","pid":27603,"level":30,"system":"68538804-0789-41ad-9

[2015-01-05 15:42] dberesford opened #57 "'callback not called' error in 'nsd server logs'"
$ nsd server logs

/usr/local/lib/node_modules/nscale/node_modules/nscale-client/nscale.js:63
    throw new Error('callback not called');
          ^
Error: callback not called
    at process.stdoutHandler (/usr/local/lib/node_modules/nscale/node_modules/nscale-client/nscale.js:63:11)
    at process.emit (events.js:95:17)

Note my ~/.nscale/log dir is empty (which is why I assume this error happen

[2015-01-06 11:56] dberesford opened #58 "Uncaught Error: Cannot find module 'docker-registry-container'"
Two issues here:
1) the missing dependency
2) nsd server start should report the error

[code]

To get things going I added the module in this commit 5d49c3e4c49f4e061e81e2bce38d995c538f3dd6 and published 0.13.1

[2015-01-06 12:00] dberesford commented on #58
Note @mcollina suggested removing my ~/.nscale/config.json a workaround for 0.13.0 (this works). The following is my old config.json:

[code]

[2015-01-07 11:17] mcollina commented on #58
Reverted as docker-registry-container was not needed at all.

[2015-01-07 11:17] #58 closed

[2015-01-12 15:19] mcollina opened #59 "shrinkwrap before release"
I _think_ we should issue a `npm shrinkwrap` before any _formal_ release, so that the packages installed  stays the same across installations.

What do you think?

[2015-01-21 03:26] AdrianRossouw commented on #35
I know this is closed, and that's a way you could do it... but it feels kind of dodgy to be putting service credentials and the like into version control like this.

[2015-01-21 07:17] mcollina commented on #35
I _agree_ with you. However VMs should be completely disposable, with no special treatment, e.g. adding a SSL certificate or a username/password combination by hand is something that we cannot add.

Possible ways to solve this:

1. add support for a `config.js` thing which will contain nscale-specific credentials (AWS, ssh keys and so on) which is not committed into git. There we can add some cust

[2015-01-21 07:33] AdrianRossouw commented on #35
I was thinking something more like consul's KV store, that is collated into an env when doing a docker-run. This seems pretty straight forward ...
https://github.com/hashicorp/envconsul

[2015-01-22 03:50] AdrianRossouw commented on #45
what is recommended?

and disk space?

[2015-01-22 09:07] mcollina commented on #45
I have no recommendation at this point in time.
I found out the _hard way_, that you cannot really __install__ nscale while running it in 512MB of RAM, as it needs to compile some stuff. Also, some _heavy_ docker builds might fail.

In my experience 1GB works fine. As for disk, the more the better. You can cleanup all the docker images and so on from Docker itself, as nscale stores them in its reg

[2015-01-22 11:32] mcollina opened #61 "Put a system offline"
I think by putting a system offline we should commit a new revision with an empty `topology.containers` section, and 'deploy' it.

[2015-01-25 22:42] AdrianRossouw commented on #61
This came up because I had a container that I hadn't built correctly, so supervisor was going into an infinite loop trying to start it up, spinning up my fans and using a bunch of processing power.

The only way I could think to stop it was to kill the docker container manually with docker kill.

This kind of problem eludes to the need for health checks and other things that are probably out of sc

[2015-01-25 23:10] AdrianRossouw opened #62 "server crash on 'nsd container list'"
[code]

[2015-01-26 12:59] jonyardley opened #63 "Docs should include git ssh setup instuctions"
After speaking with Matteo I found that I needed to set up a ssh key on my repository however this does not seem to be documented.

[2015-01-27 07:35] mcollina commented on #62
Fixed in 0.14.0-pre.6. As usual launch `npm install nscale@next -g` to install.

[2015-01-27 07:35] #62 closed

[2015-01-27 07:42] mcollina opened #64 "Broken process containers in v0.14"
@jonyardley reports in Gitter:

on this page at the bottom it says that you can change your node file and the server should restart but this does not happen
also when I try to re-run `nsd rev deploy head process` I get the following message
[code]
I thought i should mention it as it tells me to :wink:

[2015-02-01 17:37] mansona commented on #10
Has there been any progress on this?

[2015-02-01 21:41] mcollina commented on #10
Not at all. Now you can use nscale with any system in which you can SSH into, _but_ you would still need to provision the machines yourself in Google platform.

However, adding support for it might not be too hard. We are planning to add support for a lot more platforms in the future.

[2015-02-01 22:06] AdrianRossouw opened #65 "Support data volume containers"
One of the [docker 'best practices'](https://docs.docker.com/userguide/dockervolumes/)  involves using the VOLUME command and --volumes-from flag to store any data a container stores [in it's own container](http://www.tech-d.net/2013/12/16/persistent-volumes-with-docker-container-as-volume-pattern/).

This doesn't seem to work really well in nscale at the moment, because these data containers don'

[2015-02-02 02:55] AdrianRossouw opened #66 "Support for ordering the containers being started?"
Bit of an edge case here...

I was looking into using [logspout](https://github.com/progrium/logspout) to get the ELK stack running, but the way it is implemented has some interesting limitations. Because it listens to the docker events, it can only pick up when a container is killed or started...

this means you need to start logspout first, or restart all the containers after it has been started

[2015-02-02 07:18] mcollina commented on #66
This is an interesting concept. We will think about it, but it is not on our current radar. The quick-and-dirty fix for consul is to do a two-phase-deploy, with half of the containers failing to start. Your fix is a feature we need, but as you know we are a little bit overwhelmed. As a side note, all this should be some work in [nscale-planner](http://npm.im/nscale-planner), if you want to tackle

[2015-02-02 07:21] mansona commented on #10
thanks for the update @mcollina . I've taken a look at the AWS container repo https://github.com/nearform/aws-ami-container and it looks like there is the makings of an api in lib/container.js :
[code]
I assume if one were to implement all of these commands specifically for the google platform then this process would be "done"? Is there any documentation as to what the expected behaviour of each o

[2015-02-02 07:26] mcollina commented on #10
It is not just that, also you would need the equivalent of https://github.com/nearform/nscale-aws-analyzer.

Unit-testing these things is almost impossible :(. Using mocks does not give any guarantee that the thing works, unfortunately.

The best shot of a test for nscale-aws-analyzer is @McDonnellDean's
https://github.com/McDonnellDean/nscale-aws-analyzer/tree/0c9d3a81aba5db7e716497c86929b06aab94

[2015-02-02 07:30] mcollina commented on #65
It is not tricky to name a container:

[code]

What is tricky is that nscale's analyzer assumes that a container must be running, and it would keep restarting it. Maybe an if-else thing is needed in https://github.com/nearform/nscale-docker-analyzer.

[2015-02-02 13:29] McDonnellDean commented on #63
@jonyardley @mcollina Is this just a case of adding default how to setup SSH on a repo and a notice? If thats the case assign it to me and I'll get it added to the readme.

[2015-02-02 13:57] jonyardley commented on #63
Aye, you got it. It might also be worth mentioning if you want to clone a repository over http(s), including your username and pass in the url - you need to still add the URL to your ssh config file otherwise it fails?

[2015-02-02 17:56] mcollina commented on #63
@McDonnellDean please send a PR :). Thanks a million! I can't assign it to you, GH would not let me.

[2015-02-02 20:22] McDonnellDean commented on #63
Will do @mcollina. @jonyardley Can you point me to where you were in the docs when you discovered you had an issue? Was it a particular repo or workshop? I'd like to add this info in the relevant place instead of just the main repo README.md

[2015-02-02 20:34] McDonnellDean opened #67 "Standardise Container / Container Def fields"
Looking over the various analyzers I note that the fields required in the container / container def objects vary from project to project and even type to type. If this was standardised it would make regression easier to manage and improve readability in my opinion.

Having looked over them all I think this is a good proposal for standard:

[code]

[2015-02-03 08:23] mcollina commented on #67
I agree.

Here is the problem: all clouds/systems etc have different ways for doing the same thing.
Contrary to AWS, in docker tags do not have values.

Before standardizing anything, I think we should collect this scattered information somewhere, document it, and cover some other clouds, like Google's and DigitalOcean. Once we figure out how nscale can work everywhere, we can standardize knowing

[2015-02-04 13:38] McDonnellDean commented on #67
@mcollina sounds good, I've started to put a sample output in the test/data folder of each project. Once these are all done we would be in a better position to discuss this. I have Azure and AWS done. I'll look into the rest also!

[2015-02-04 13:41] McDonnellDean commented on #63
@jonyardley @mcollina Just bumping this again, see above, thanks!

[2015-02-04 13:45] McDonnellDean commented on #10
@mansona Just to note, the link above is now in the main repo. I am currently working on expanding out the test suite for the AWS Analyzer but as Matt says it's not the easiest thing in the world to test. I'm looking at about 10 days between now and next PR with a full suite of tests.

[2015-02-17 09:04] McDonnellDean commented on #63
@mcollina @jonyardley This is (will be) in the new docs see: https://github.com/McDonnellDean/nscale-docs/tree/core-additions

This ticket can be closed

[2015-02-17 09:08] #63 closed

[2015-02-17 09:08] mcollina commented on #63
Thanks!!

[2015-02-23 22:23] McDonnellDean opened #68 "Error on very first nscale login (OSX)"
Following the workshop (nscale@0.14.pre.7):

- docker / boot2docker installed
- git credentials set up
- boot2docker running, docker command working
- nscale installed globally, server start / server stop works

Crash occurs when `nscale login` is ran:

[code]

Logs from `nscale server logs`

[code]

Installed Modules:

[code]

[2015-02-24 07:30] mcollina commented on #68
How did you install node? Which version of node?

That happens if nodegit installation failed somehow, try reinstalling.

[2015-02-24 12:20] McDonnellDean commented on #68
Node: V0.12.0

@mcollina For nodegit, should it have installed itself as a dependency? I will reinstall it tonight to see if it throws or err's. I ask because we should probably make end users aware of the need to have it in the docs.

[2015-02-24 12:29] darragh-hayes commented on #68
@McDonnellDean nodegit should be installed as part of the nscale installation. I experienced a very similar issue re: nodegit not being installed on a linux machine. Unfortunately I never documented how I got it to work. But I think I had to completely reinstall a stable release of node.

[2015-02-24 12:35] McDonnellDean commented on #68
@darragh-hayes Thanks, I tried to install clean again, node, the lot. We need to document this too though.

[2015-02-24 13:52] mcollina commented on #68
How did you install node? Which version of OS X are you using?

Also consider that 0.12 support is at max experimental. If any of you can confirm that it all works it would be great (it should, but it needs a check). I am a fan of NVM to switch between node versions.

[2015-02-24 13:59] McDonnellDean commented on #68
- I use `n` to manage installs
- OSX Yosemitie

I can drop down to Stable to check again when I am at the machine. I'll update when I retry.

[2015-02-24 14:33] mcollina commented on #64
Confirmed working on nscale 0.14. For a better user experience, https://github.com/nearform/nscale-compiler/pull/20 is needed.

[2015-02-24 14:33] #64 closed

[2015-03-09 11:55] darragh-hayes opened #72 "New aws instance started by "system fix" is not linked to elb"
I was doing some tesing with the following versions in aws:

nscale 		 0.14.2
nscale-kernel 	 0.14.14
nscale-client 	 0.14.7
nscale-web 	 0.10.0
nscale-api 	 0.10.0

I successfully deployed the SUDC and killed the instance running the web container. I ran a system check/system fix which started up a new instance running the web container but the instance was not linked to the elb. So the web front

[2015-03-09 12:05] darragh-hayes commented on #68
closing this issue as it's more of an issue with the setup you had on your machine. We've also gone past 0.14.pre.7

[2015-03-09 12:05] #68 closed

[2015-03-09 12:09] McDonnellDean commented on #68
Cheers Darragh, i know how to repro too, I'll send on details when I have time

[2015-03-09 12:24] darragh-hayes commented on #38
As was suggested about compiling for all platforms/targets and then deploying to a specific platform/target

a system is compiled for all targets now, e.g. on compile we could have `process.json,` `aws.json` and `development.json` and one deploys like so: ```nscale rev deploy xxxx latest aws```

there is a `deployed` column in the `revision list` which shows the target that a particular revision h

[2015-03-09 12:24] #38 closed

[2015-03-09 12:40] darragh-hayes commented on #47
Hi there, if you are working with nscale in aws/digitalocean etc, your machine will need some way to authenticate with github. You can either configure ForwardAgent to use your local machine's keys as you mentioned (which we now have documented) or you can generate a new keypair on the machine and associate it with your github account. Either will work. Closing this.

[2015-03-09 12:40] #47 closed

[2015-03-09 12:45] darragh-hayes commented on #39
Support for building containers using a specific revision number/commit has been introduced for some time now.

[2015-03-09 12:45] #39 closed

[2015-03-09 12:52] mcollina commented on #47
The point here is getting this documented. Is it, @darragh-hayes? Can you please add a link to this issue to the explanation?

[2015-03-09 14:01] darragh-hayes commented on #30
Building a container doesn't create a new system revision anymore, only a system compile does. Furthermore one can deploy like so "nscale rev dep latest." For these reasons I'm closing this for now.

[2015-03-09 14:01] #30 closed

[2015-03-09 14:03] darragh-hayes commented on #28
closing because we don't compile to particular targets anymore

[2015-03-09 14:03] #28 closed

[2015-03-09 14:08] darragh-hayes commented on #9
Closing as this is not an issue anymore

[2015-03-09 14:08] #9 closed

[2015-03-12 09:56] mcollina opened #73 "Support for AWS IAM Roles"
Thanks to AWS IAM Roles we might be able to automatically retrieve credentials on AWS. See: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html

[2015-03-13 08:24] mcollina commented on #72
Confirmed. A fix will come for 0.15.

[2015-03-13 12:17] mcollina commented on #72
Should be fixed in 0.15.0-pre2. Install it with `npm install nscale@next -g`.

[2015-03-16 10:13] Fabio101 opened #74 "Containers not being killed when updated version is deployed"
Hi Guys

I am noticing an issue which I am not sure is a result of my setup or Nscale itself but any insight would be appreciated:

* **When deploying an updated revision of a system it appears as if old containers are not being killed and thus new containers are either unable to start or starts a another running instance of the container (Albeit the updated version)**:
 * Containers that fail to

[2015-03-16 10:16] mcollina commented on #74
I am using this tool everyday, and I am not seeing this.

Can you please run `nscale system analyze` from your system folder, and paste the output, alongside with the output of `docker ps`.

[2015-03-16 10:45] Fabio101 commented on #74
Thanks Mcollina

I noticed that the analyze displayed a really messed up version of my system... missing many container definitions etc...

Let me try fix this up as it is most likely the cause of the problem here.

I will revert with Feedback soon :)

Thanks

[2015-03-16 10:52] McDonnellDean commented on #74
@Fabio101 Could you post your result (minus and sensitive info if applicable). I would like to see how the analyzer handled your version?

[2015-03-16 12:02] Fabio101 commented on #74
@McDonnellDean for what its still worth, please see the analyses below:

[code]

**HOWEVER!**

I have solved my problem...

Inside the /home/nscale/.nscale/config/.config.json the analysis block contained:
[code]

But what I actually required was...
[code]

Basically the local analyzer is defined by default during installation of Nscale which I was not aware of (My initial environment was setup by

[2015-03-16 12:05] mcollina commented on #74
This will be solved in the next release 0.15, where we will have automatic
detect of the right analyzer to use.

Il giorno lun 16 mar 2015 alle ore 13:02 Fabio Pinto <
notifications@github.com> ha scritto:

[2015-03-16 12:19] Fabio101 commented on #74
Perfect, looking forward to it!

[2015-03-16 12:19] #74 closed

[2015-03-19 09:53] Fabio101 opened #75 "White-list certain deployed containers from being undeployed/removed if they are not running..."
Hi Guys

I am not sure if I am able to do this already with the current version, however, it would be super handy to be able to **white-list** certain defined containers to allow them to avoid being removed from docker in their deployed environments if they have an 'Exited' Docker status...

**Use case:**

I make use of Data-Only containers which are used to persist data for various other containe

[2015-03-20 03:51] #29 closed

[2015-03-20 03:55] pelger commented on #75
Hey,
There is no way to do this at present, however this would be a great enhancement and fairly straightforward to implement I think. Will look into it and let you know. Thanks!

[2015-03-20 05:59] Fabio101 commented on #75
@pelger Many thanks for your enthusiasm!

In the meantime I have resorted to simply manually creating the Data-Only container as per [Docker Docs](https://docs.docker.com/userguide/dockervolumes/#creating-and-mounting-a-data-volume-container), this does not necessarily run the container but merely creates it, thus the container would never have an 'Exited' status. (In hindsight, this is the prefer

[2015-03-23 14:13] pelger commented on #75
No worries! will hopefully get to this in the next week - will let you know.

[2015-03-24 15:38] darragh-hayes opened #77 "config not being detected properly in direct deployments"
I am trying to deploy the sudc application directly to a digitalocean machine from my local machine.

I defined the machine container like so:
[code]

The direct target topology is defined like so:
[code]

my config.js file:
[code]

When I try deploy I get the following:
[code]

and the logs show one particular entry of interest:
[code]
For some reason nscale doesn't pick up the `user` defined in

[2015-03-31 09:47] #72 closed

[2015-04-15 15:23] McDonnellDean opened #80 "[Feedback] Use semistandard everywhere"
I was wondering what the opinion to using [semistandard](https://github.com/Flet/semistandard) in all nscale repos would be. It is the semi-colon version of [standard](https://github.com/feross/standard).

I personally think both of these will win out over other style checkers. If this is something ye find interesting I have no problem looking at doing a slow move to this one repo at a time?

@mco

[2015-04-16 06:02] mcollina commented on #80
I agree, but it is really low priority. What's the others opinion on this?

[2015-04-16 06:18] Nss commented on #80
Fine by me but I agree on the low priority.

[2015-04-16 08:02] McDonnellDean commented on #80
Agree on the priority, its more just to get the green light on it.

[2015-04-23 14:53] #36 closed

[2015-04-23 14:53] #40 closed

[2015-04-23 14:53] #42 closed

[2015-04-23 14:53] #44 closed

[2015-05-01 15:55] darragh-hayes commented on #51
@McDonnellDean This was implemented see https://github.com/nearform/nscale-client/pull/49

[2015-05-05 11:04] AdrianRossouw commented on #65
i've now had experience with 3 different docker implementations, and all of them have needed support for  data containers.

[2015-05-06 15:37] rjrodger opened #82 "npm install wierd without node-gyp installed"
I had previously not installed node-gyp, so an npm install -g nscale went ... badly

After doing an sudo npm install -g node-gyp, the nscale install works just fine

node version 0.10.38

you'll probably need to test using a blank AWS instance

[2015-05-06 15:37] rjrodger commented on #82
by badly I mean:

[code]

[2015-05-06 15:38] McDonnellDean commented on #82
Is this a simple case of adding node-gyp to the dependencies I wonder?

[2015-05-06 15:46] darragh-hayes commented on #82
At a quick glance it looks like permissions problems:

`user "root" does not have permission to access the dev dir "/Users/richard/.node-gyp/0.10.38"`

and on a whim, I would blame it on the node setup.

From personal experience with installing nscale on aws instances, I've only ever come across something like this when I botched the node installation. I never needed to install node-gyp manually a

[2015-05-06 15:48] mcollina commented on #82
It seems a permission issue. Running npm with sudo should be highly discouraged, as it breaks all the local caches.

May I ask you to do a `ls -al /Users/richard/.node-gyp`?

[2015-05-06 16:01] rjrodger commented on #82
ls -al /Users/richard/.node-gyp
total 0
drwxr-xr-x   3 richard  staff   102  6 May 16:27 .
drwxr-xr-x+ 60 richard  staff  2040  6 May 16:29 ..
drwxrwxr-x   7 richard  staff   238  6 May 16:29 0.10.38

@darragh-hayes I have a clean node install on mac os x, no funny stuff, no perms mucked with - this is out of the box

@matteo without sudo, how should I install nscale?

[2015-05-06 16:05] mcollina commented on #82
Following this guide to setup a local npm folder for your global modules: https://docs.npmjs.com/getting-started/fixing-npm-permissions#option-2-change-npm-s-default-directory-to-another-directory

[2015-05-06 16:30] mcollina commented on #82
@rjrodger it seems your machine has misconfiguration, or it is a OS X specific issue. Fresh install on Ubuntu on AWS installed it just fine with `sudo`.

[2015-05-06 17:05] rjrodger opened #83 "container name clash possible"
if you have two separate container definition files in the `definitions` folder, and they both have a container with the same name, then... bad stuff

[2015-05-06 22:38] xqjibz opened #84 "nscale start produces 'not ok' message, on OSX with boot2docker"
The error is as follows: `nscale servers starting..
not ok!
ERROR: Server is taking longer than usual to start`.  Additionally, all docker operations appear to be normal.  `docker ps` functions normally, `boot2docker ssh` logs in normally.  And the logs do not appear to be out of the ordinary.

The problem turns out to be with Cisco Anyconnect VPN client software, running or not.  [This issue](htt

[2015-05-07 07:08] mcollina commented on #83
how do you propose to fix this? Giving an error to the user?
Il giorno mer 6 mag 2015 alle 19:05 Richard Rodger <notifications@github.com>
ha scritto:

[2015-05-07 09:50] Nss commented on #83
+1 for showing an error to the user with the name of the duplicate definitions and the files containing them.

[2015-05-07 12:38] mcollina commented on #84
Side note, the SSH tunnel is needed to access the internal docker registry nscale uses. In this way the communication is secure.

[2015-05-07 12:38] #84 closed

[2015-05-11 18:02] #51 closed

[2015-05-12 20:31] rjrodger opened #85 "new versions dies if old version still running"
nscale already running, forgot to shutdown
do: npm uninstall -g nscale
then: npm install -g nscale

this happens:

93261098b:salestax-api richard$ nscale login

/usr/local/lib/node_modules/nscale/node_modules/nscale-client/lib/config.js:43
    config.targets[config.use].port = getGlobalConfig().kernel.port;
                                                       ^
TypeError: Cannot read property 'k

[2015-05-13 15:29] xqjibz opened #86 "nscale timeline list behavior"
When running `nscale timeline list`, I receive the following output:

[code]

I haven't had a chance to look at what is the desired output should be as of yet, logging here so it's not lost.  The  `[object Object]` appears to be undesired.

My nscale version
[code]

[2015-05-13 20:10] xqjibz opened #87 "nscale reports branch <x> is ahead of branch <y> by some commits"
**Scenario:**

- working in a branch from a system.
- you have already deployed in master or another branch
- you create a new branch, and make changes to services/system

`nscale system compile` produces the following:
[code]

 The branch listed above, may be master, or may be something else.

**Solution:**
`nscale system unlink <system-name or directory-of-cloned-system>`
`nscale system link .`

[2015-05-14 08:25] dberesford opened #88 "Randomly can't contact docker registry"
Have hit this a few times, let me know what more info you need:

[code]

[2015-05-15 08:14] #82 closed

[2015-05-15 08:38] mcollina commented on #88
Me too. I am not exactly sure what the problem is, as it's spotty and hard to reproduce. I will have a look.

[2015-05-15 08:55] darahayes opened #89 "System Stop command deployed new instances"
While working with the autoscaling version of the SUDC system I went through the following steps:
- Deployed the system. This was successful. 2 machines went up and `system check` was returning no problems.
- I set up some very trivial triggers based on average network in on the `nscale-scaling-down` and `nscale-scaling-up` policies.
- Used apache benchmark to simulate a few thousand requests from

[2015-05-15 09:54] mcollina commented on #87
I followed your instructions and I could not reproduce. Can you please make instructions using https://github.com/nearform/sudc-system.

I'm not really getting the explanation, nscale does not store the branch of the system repository anywhere.

[2015-05-15 12:44] mcollina commented on #88
I have just released 0.16.1, which should solve the problem (hopefully).

[2015-05-15 12:44] #88 closed

[2015-05-15 12:50] mcollina commented on #61
nscale 0.16 has the 'system stop' command.

[2015-05-15 12:50] #61 closed

[2015-05-15 12:51] mcollina commented on #83
This is fixed in 0.16.

[2015-05-15 12:51] #83 closed

[2015-05-15 12:51] mcollina commented on #16
This was fixed long ago :).

[2015-05-15 12:51] #16 closed

[2015-05-15 12:51] #59 closed

[2015-05-15 12:52] mcollina commented on #77
Is this still an issue?

[2015-05-15 12:54] mcollina commented on #49
This should be fixed now :). Output is pretty clear.

[2015-05-15 12:54] #49 closed

[2015-05-15 13:08] darragh-hayes commented on #77
We resolved this :)

[2015-05-15 13:08] #77 closed

[2015-05-15 13:57] mcollina commented on #89
I tried to reproduce the crash with nScale 0.16.1, and I was not able to. Can you please try again?

Here is what's happening:

1. when you stopped bombing the system, some AWS autoscaling events where generated
2. when nScale detects these events, it does a `system fix`, so it deploys automatically the containers
3. if you run a stop command during the `system fix` probably some bad things will h

[2015-05-18 04:39] xqjibz commented on #87
Yes, let me try this again, it's only happening when I switch branches.  It just seemed like somehow the system was keying off of what branch I was on.  I will fork sudc and attempt to reproduce.

[2015-05-19 17:55] xqjibz commented on #87
I ran into this again, received the following error:
[code]

This one is different, in that what was in the `workspace`, for this repository is on another branch than what is in the definition.  To solve this one during an `nscale system compile` I simply `rm -fr workspace/` and that solved it, I would also imagine (and did not test) that checking out master for this repository would have solved i

[2015-05-19 18:03] mcollina commented on #87
Albeit not optimal, the last one is expected.

I'm curious at the first one too, as I could not replicate it.
Il giorno mar 19 mag 2015 alle 19:55 Robert Myers <notifications@github.com>
ha scritto:

[2015-05-19 18:15] xqjibz commented on #87
@mcollina I will work sometime today to replicate the first one, as it doesn't make any sense to me either. :)

[2015-05-20 18:42] xqjibz commented on #87
@mcollina I cannot reproduce this using the sudc test application.  I didn't do anything different for the test app as far as I can tell.

I did some extra things too:
- switched branches back to master, made changes, system compile, push those, go back to my branch, unable to reproduce
- from my test branch, stop nscale, start nscale, `nscale login`, `nscale system link .`, unable to reproduce.
-

[2015-05-20 18:51] xqjibz commented on #66
I do want to add here, that I had a similar situation with a docker container, NodeBB and pre-populated mongodb, with data for NodeBB, if my NodeBB container comes up before the pre-populated mongo container does, NodeBB needs restarted.  I had figured that I was ordering something improperly in the definitions file, or something similar, but if this feature isn't in place, I'm going to try and co

[2015-05-21 09:05] shnist opened #92 "Nscale revision deploy command now outputs npm warn messages"
Hi,

I've recently updated from nscale v0.15 to 0.16. I've noticed now that when I run a `nscale rev dep latest` command it has started to output npm warn messages:

[code]

It's not a big thing by any means, but it makes the deployment messages harder to read and to locate the tail command to grab the log files. Was this a deliberate change to the way the messages are outputted when running a dep

[2015-05-21 09:28] pelger commented on #92
Hey,
Will take a look at this. No deliberate change IIRC but will check for you.
Cheers.
Peter.

[2015-05-21 09:54] mcollina commented on #92
The deliberate thing was to run the build at every deploy for process containers. This might be wrong, though. @shnist a nice thing you might want to try is to resolve that warnings, i.e. seeing if there is an updated version of those packages that have the README.

[2015-05-21 12:55] shnist commented on #92
@mcollina @pelger - thanks guys. So just to clarify, in v0.16 it runs an npm installation on every deploy now? And this wasn't the case in 0.15?

[2015-05-25 08:00] mcollina commented on #92
Only for process-containers. Not sure why it was added, @pelger can you please clarify?

[2015-06-02 10:13] mtbvang opened #93 "nscaledemo Error: Invalid registry endpoint https://localhost:8011/v1/"
I get the following error when running 'nscale container build nscaledemo web'. I can query the registry over http, but don't know about accessing the registries CA cert. The /etc/docker/certs.d dir doesn't exist.

pushing to registry
2015/06/02 11:36:36 Error: Invalid registry endpoint https://localhost:8011/v1/: Get https://localhost:8011/v1/_ping: EOF. If this private registry supports only HTT

[2015-06-02 12:17] shnist commented on #92
hi @pelger - any update on this?

cheers

[2015-06-05 08:19] Nss opened #95 "Nscale analize is missing some container"
[code]

* All environment was composed with docker containers
* There was a previous version running
* There was a new version ready to be deployed

While deploying the new version we had an error stating that it couldn't start a container because the port was already in use.
After some digging we noticed that `nscale analize` was missing that container.

I couldn't debug it in that moment and I c

[2015-06-05 08:56] AdrianRossouw commented on #95
one of the things i've noticed is that nscale can't differentiate between containers that have the same commit id. So if the settings were related to files added outside of a git commit, or if you just changed some env variables, nscale analyze has trouble picking it up.

i've also seen it happen in situations where there are multiple instances of the same service, ie: exposed on port ranges 8000-

[2015-06-08 06:55] mcollina commented on #93
Where is your nScale host running? Is it a local to your box or cloud deployment?

This happens when the SSH tunnel is not set up properly. nScale relies on the fact that all local registries are automatically trusted, and it opens an SSH tunnel forwarding the port on which the registry can be accessed.

[2015-06-08 08:40] mtbvang commented on #93
nScale is running on my local host.

[2015-06-08 08:43] mcollina commented on #93
Are you on Mac? are you using boot2docker? have you tried rebooting your boot2docker thing? Does `docker ps` works as expected in a fresh terminal?

[2015-06-08 08:49] mtbvang commented on #93
I'm on ubuntu 14.04.  Is the local registry started by nScale? What am I looking for with docker ps?

[2015-06-08 08:56] mcollina commented on #93
The local registry is started automatically by nScale.

Basically you need to be sure that nScale can talk to your Docker daemon. Just open a new shell and check if you can run a new container, check if its running and so on, **without sudo**.

[2015-06-08 09:04] mtbvang commented on #93
My docker instance works without sudo and I'm able to run other containers up. What's the name of the nscale registry container? I don't see anything in the docker ps that looks like it. I do have a lot of containers running so maybe I missed it. If there was a port issue would nScale report that?

[2015-06-08 09:09] mcollina commented on #93
The registry is embedded in nScale, so it is not running inside docker.

@Nss you are the Linux guy, can you please help here? :) Thanks!

[2015-06-08 10:04] LucaLanziani commented on #93
@mcollina who does start the private registry and where the protocol (http/https) is determined? I can see an unexpected httpS in the error log, in my system the url is http://localhost:8011/...

@mtbvang can you try to run both:

[code]

and

[code]

[2015-06-08 10:41] mcollina commented on #93
the registry is started as a service by nScale. The actual code lives in the 'docker-container' module. It's on HTTP, not HTTPS.

It is working fine for me on Linux.

Can you please attach the nscale logs?

[2015-06-08 10:50] LucaLanziani commented on #93
I meant the @mtbvang error log

[code]

As you can see there, the process is trying to load the registry with httpS `Invalid registry endpoint https://localhost:8011/v1/` this isn't happening in my environment.

[2015-06-09 11:52] AdrianRossouw commented on #66
I ran into a similar issue now with redis not being up yet, so my app would crash on the first deploy... but only when redis was being deployed too.

I think we'd probably need to grow a heartbeat feature to be able to even tell when a remote service was up and running.

It seems like you could resolve this issue with consul too.

[2015-06-09 12:05] LucaLanziani commented on #66
I feel like we are talking about two different problems here.

If the problem is the code that needs a resource (our or external), the problem has to be resolved in the code itself. Maybe crashing and relying on the docker --restart=on-failure or on a heartbeat thing as @AdrianRossouw proposed.

What's the suggested behavior for a microservice that can't connect to another?

[2015-06-09 12:50] AdrianRossouw commented on #66
if container x needs container y to be loaded and running first, for whatever reason, nscale doesn't currently support putting them online in a specific order. There's no way to capture that dependency.

--restart=on-failure is actually a pretty elegant solution to the problem. I'd probably go with that.

[2015-06-10 00:53] AdrianRossouw commented on #35
apparently support for an 'env' property was added to 0.17

[2015-06-10 16:46] mtbvang commented on #93
@Nss The results of the curl are.

curl https://localhost:8011/v1/_ping
curl: (35) Unknown SSL protocol error in connection to localhost:8011

curl http://localhost:8011/v1/_ping
true

Curl over https with verbose:

curl https://localhost:8011/v1/_ping --verbose
- Hostname was NOT found in DNS cache
-   Trying 127.0.0.1...
- Connected to localhost (127.0.0.1) port 8011 (#0)
- successfully set cert

[2015-06-10 17:08] mtbvang commented on #93
@mcollina Where do the nscale logs live?

[2015-06-10 17:12] AdrianRossouw commented on #35
for my current task, i found that putting a .env file on the server directly, and setting up `--env-file /home/nscale/server.env` in the args were the better solution.

[2015-06-10 17:16] mtbvang commented on #93
Something in the code is setting the protocol on my system to https. The only thing I found in the docker-container module was the following in docker.js line 37:

[code]

Is this relevant or is it something else?

[2015-06-11 07:36] mcollina commented on #93
Completely something else, this is used by nScale to talk to Docker, not vice versa. How did you install docker on that machine? Which version of Docker are you running?

[2015-06-11 08:06] mtbvang commented on #93
My docker is at version 1.3.1. It was installed using a puppet module which adds the following to the source list https://get.docker.com/ubuntu docker main. I'll try updating my docker version.

[2015-06-11 08:17] mtbvang commented on #93
Dating docker to 1.6.2 resolved the issue. Thanks for all your help @Nss @mcollina.

[2015-06-11 08:17] #93 closed

[2015-06-22 12:38] pelger commented on #95
@AdrianRossouw this should be fixed in 0.17 - currently in pre-release

[2015-07-06 08:50] mcollina opened #96 "Exit code in the client should be 1 in case of a failure"

[2015-07-06 10:37] shnist commented on #96
It might also be useful to have a non zero exit code when this happens:

[code]

[2015-07-06 13:15] mcollina opened #97 "Support a force build where all changes in the repo are removed"

[2015-07-30 01:03] AdrianRossouw opened #98 "Support a workflow where developers can manage deployments via pull requests."
This has come up a couple of times for me, and it becomes an issue with CD.

Say me and three developers want to collaborate on a system, we would like to be able to evaluate changes to what is deployed and how things are configured as diffs.

This is unfortunately blocked by the fact that nscale commits build artifacts, and also uses tags to it's own end. It's also not really clear what will happ

[2015-08-17 04:19] djumanoff opened #99 "Building containers failing"
When I try to build container with command: nscale container build nscaledemo web latest development .  It fails with the following message

Get https://index.docker.io/v1/repositories/library/node/images: dial tcp: lookup index.docker.io on 192.168.0.1:53: read udp 192.168.0.1:53: i/o timeout

{ cmd: 'git checkout -q 92ea17ace03f9184ca0818707b952f7ad64f8d1d && echo checked out 92ea17ace03f9184ca0

[2015-08-17 04:20] djumanoff commented on #99
Mac OS X 10.10.4

[2015-08-17 07:18] AdrianRossouw commented on #99
It almost looks like it is having issues connecting to boot2docker?

what does `boot2docker status` give you?

[2015-08-17 17:03] djumanoff commented on #99
<code>boot2docker status</code> command gives me:
running

[2015-08-24 10:31] djumanoff commented on #99
Issue was resolved. I think it was something wrong with connectivity to docker hub or something... Anyways it disappears.

[2015-08-24 10:31] #99 closed, assigned to nobody

[2015-09-16 13:21] vovantigo opened #100 "Is there any chance to use nscale on existing on-premises infrastructure? Or other than AWS cloud infrastructure?"
Hi!
Nscale is great in deployment to single VM or to AWS infrastructure. However, is there any chance to use nscale on existing on-premises infrastructure? Furthermore, is there any chance to use it on other than AWS cloud infrastructure?

[2015-09-28 15:23] AdrianRossouw opened #101 "nscale is caching repository info between systems"
We have a situation here where we have multiple instances of the system deployed using the same nscale master, with the only thing different between them being the repository url.

Because all of the instances share the 'server' name for the container, settings for the previously deployed system seem to bleed through to the new ones.

Example :
1. you have 2 systems `alpha` and `beta`
2. each of t

[2015-09-30 16:21] shnist opened #102 "Errors when upgraded to docker 1.8"
Hi,

I tried upgrading from docker 1.6 to docker 1.8 (using OSX). With the changes from boot2docker to docker-machine it seems a breaking change has been introduced. When I attempt to run the nscale container buildall command I now receive the following error:

[code]

Tried removing the .nscale folder, reinstalling nscale and removing the workspace folder, but to no affect.

Any thoughts or possi

[2016-01-08 01:11] tegamckinney commented on #65
@AdrianRossouw I have just got started using nscale and am wondering if you were able to make progress with nscale and data volume containers?  Or it possible out of the box or require some type of work-around?

[2016-01-08 02:49] AdrianRossouw commented on #65
Not specifically, but i've gotten enough experience with data volume containers on their own to get the idea that docker itself needs to improve how it handles them before this should be attempted.

It's not really possible to move them between servers without a bunch of custom scripting, and there are some other aspects of how they work that makes them unwieldy.

Host mounts seem to be the best s

[2016-01-16 21:49] Ry6000 commented on #102
I'm having a similar issue with a new setup, I just installed Docker 1.9.1 from the website which includes docker-machine instead of boot2docker. When running `nscale start` the command reports "not ok!" and the logs show this error:
`{"name":"nfd-kernel","hostname":"Ryans-Mac-Pro.local","pid":13920,"module":"docker","level":50,"target":"192.168.99.100","identityFile":"/Users/ry60003333/.ssh/id_bo

[2016-01-18 09:13] pelger commented on #102
We have an update that supports docker 1.9.1 and docker-machine - currently testing and hope to put a fix out soon.

[2016-01-18 18:45] Ry6000 commented on #102
@pelger Great to hear! I'll be eagerly awaiting it, I am very exciting to start using this project.

[2016-01-26 12:18] Analect opened #103 "How does nscale relate to apparatus/fuge?"
@mcollina
Just wondering if nscale development has been superseded by work on fuge .. and if nscale will become a subset of fuge? ... or is it planned to keep them separate.

... have the orchestration tools native to docker superseded the need for nscale ... or has further development of nscale been put on hold for a while?

Thanks.

[2016-01-26 12:30] mcollina commented on #103
Hi @Analect, one of our biggest mistake in nscale is its design: we tried to build a tool that does too much. We are splitting its functionality into pieces, so it is easier to develop and maintain.

We are already working in the build step for fuge, see [oast](http://npm.im/oast). A deployer for that output will come soon.

[2016-01-26 13:03] Analect commented on #103
Thanks @mcollina for the quick response.
Could you elaborate a little?
I was looking through Peter's [presentation](https://www.youtube.com/watch?v=jm75pxsb80c) on fuge again.

So, at the moment, fuge expects images that are already built to be referenced in a docker-compose.yml, whereas **oast** will introduce a capability to build these locally from a dockerfile and push to a public/private regi

[2016-01-26 13:47] mcollina commented on #103
@Analect basically yes. fuge is for dev, oast is to build them for prod usage. The new tool will support docker-swarm out of the box, plus the way nscale was set up (no advanced networking, just exposed ports). It will be also easy to extend the system.
What will probably be missing is all of the AWS automation.

There will be docs when all of this is done :D.

[2016-01-26 14:10] Analect commented on #103
Great. Thanks for the update. Let me know if I should close this issue out ... or if there's some value to having it around for others to happen upon.

[2016-01-26 14:24] mcollina commented on #103
Let's keep it open for the time being :)

[2016-03-19 05:35] mateodelnorte commented on #84
seeing this on a fresh install.

[2016-05-21 23:41] davgeek commented on #45
I had problems when installed on a server with 512 mb, but only add a swap space and it worked well. 😀

[2017-06-27 11:09] Ridermansb opened #104 "Installation error on node:8-alpine image"
Using this Dockerfile ..

[code]

Error ..

[code]

[2017-07-18 08:32] #89 closed